* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
}
body {
    background-color: #ffffff !important;
}
